.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.fullName {
    font-size: 20px;
    margin: 10px 0 0 0;
}

.username {
    color: #777f7f;
}

.followInfo {
    margin: 10px 0;
}

.followInfo span {
    margin-right: 10px;
}

.button {
    margin-top: 10px;
    font-size: 14px;
    padding: 4px 14px;
    background: #289ef8;
}