@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  /* Colors */
  --primary-color: #078392;
  --secondary-color: #289ef8;
  --muted-color: #777f7f;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
